
<div class="containers">

  <div class="container">
  <br>
  <br>
  <br>

   <div class="row mb-5 text-center animate__animated animate__backInDown">
    <div class="col-md ">
    <div class="ftco-footer-widget mb-4">
    <h2 class="ftco-heading-2">MrDOR22</h2>
    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
    <!-- <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="fa-twitter"></span></a></li>
    <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-facebook"></span></a></li>
    <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-instagram"></span></a></li> -->
    <!-- <a href="https://twitter.com/explore"><mdb-icon fab icon="twitter" size="2x" class="icon" style="color: white"></mdb-icon></a>
    <a href="https://www.facebook.com/">  <mdb-icon fab icon="facebook" size="2x" class="icon" style="color: rgb(83, 83, 235)"></mdb-icon></a>
        <a  href="https://www.youtube.com/"> <mdb-icon fab icon="youtube" size="2x" class="icon" style="color: rgb(214, 68, 68)"></mdb-icon></a> -->
    </ul>
    </div>
    </div>
    <div class="col-md text-center ">
    <div class="ftco-footer-widget mb-4 ml-md-5">
    <h2 class="ftco-heading-2">mrdor22@gmail.com</h2>
    <ul class="list-unstyled">
    <!-- <li><a routerLink="/home" class="py-2 d-block">Shop</a></li>
    <li><a routerLink="/home" class="py-2 d-block">Home</a></li>
    <li><a routerLink="/about" class="py-2 d-block">About</a></li>
    <li><a routerLink="/contact" class="py-2 d-block">Contact Us</a></li> -->


    </ul>
    </div>
    </div>
    <div class="col-md-4">
    <div class="ftco-footer-widget mb-4">
    <h2 class="ftco-heading-2">Haifa,Israel</h2>
    <div class="d-flex">


    </div>
    </div>
    </div>

    </div>
    <div class="row">
      <div class="col-md-12 text-center" style="font-size: 0.8em;">
        <p>
          Copyright ©2020 All rights reserved | This site is made with <i class="fa fa-heart" style="color: red;" aria-hidden="true"></i> by D.Y


      <p>
  <br>
  <br>
  <br>

      </p>
      </div>
      </div>
    </div>
  </div>

