

#AnchorId
{scroll-behavior: smooth;
  background-color: lightpink ;
}

footer{
  height: 50%;
}

.header {
  margin-bottom: 20px;
  background-image: url('../assets/covid.jpg');

  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
}


.header .h1-title{
  font-size: 5.5em;
  text-align: center;
  color: rgba(224, 90, 90,0.9);
  font-weight: bold;
  font-family: 'Patrick Hand', cursive;;

}

.text-center {
  color: rgba(224, 90, 90,0.9);

}

.text-center-country{
  font-size: 3em;
  text-align: center;
  font-family: 'Patrick Hand', cursive;
}




.covid-para {
  color: white;
  font-weight: bold;
  text-align: center;
}


p {
  color: white;
  font-size: 1.3em;
}


h2 {
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

@media (min-width: 1200px) {
.container {
    max-width: 1140px;

}
}


.containers {
  background-color: black;
}


ul li a {
  color: white;
}

 .py-2{
  color: white !important;
  font-size: 1.3em;
}


mdb-icon {
  margin-right: 10px;
}


.text {
  font-size: 1.3em !important
}


.card-text {
  color: black;
  /* font-family: 'Patrick Hand', cursive; */

}
.card-text {
  font-size: 2em;
}


.card-title{
font-size: 1.3em;
}


.card-infected{
border: 3px solid blue;
}
.card-recovered{
  border: 3px solid green;
  }
  .card-deaths{
    border: 3px solid red;
    }


    .card {
      max-height:250px;
    }


    .card-last-p{
   font-size: 1em;
    }

    #statistics {
      padding: 5rem 0 ;
    }

    select{
      text-align-last:center;
      direction: rtl;
  }
