<section id = "navigation ">
<div class="container">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-md fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target ="#navigation-bar">
          <span class="navbar-toggler-icon" style="color: blue;"></span>
        </button>

        <a class="navbar-brand" (click)="toHome()" >
      <i class="fas fa-home" style="font-size: 1.5em; color: lightcoral;" (click)="toHome()"></i>
        </a>
    <div class="collapse navbar-collapse" id="#navtigation-bar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#statistics" (click)="toStats()">Statistics</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact" (click)="toContact()">contact</a></li>

      </ul>
    </div>
      </nav>
    </div>
  </div>
</div>





</section>


<div class="header animate__animated animate__backInDown ">
  <div class="container" id="AncholId3">
    <div class="row">
      <div class="col">
        <h1 class="h1-title ">COVID-19</h1>
        <p class="covid-para ">Coronavirus disease 2019 (COVID-19) is an infectious disease caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2).[9] It was first identified in December 2019 in Wuhan, Hubei, China, and has resulted in an ongoing pandemic

        </p>


      </div>


    </div>

    <section >
      <div class="container text-center">
        <div class="row">
          <div class="col text-left">
    <h1 class="text-center-country">Choose country
    </h1>
    <div class="row">
    <div class="col text-center mb-3" >
    <form>
      <div class="form-group">
        <select (change)="cChanged($event.target.value)" (change)="getDailyData()" class="form-control" id="country">
          <option selected value="global">Global

          </option>
          <option *ngFor="let country of countries" value="{{country}}">{{country}}</option>
        </select>
      </div>
    </form>

    </div></div>
         </div>
        </div>

      </div>
    </section>


    <div class="row

    " id="AnchorId2">
   <div class="col-md-4 col-3">
     <div class="card card-infected">
       <div class="card-body">
         <div class="card-title text-center">Infected
           <p class="card-text" [countUp]='data.confirmed'>{{data.confirmed | number}}</p>
           <p style="color: black;">{{date | date}}</p>
           <p style="color: black;" class="card-last-p"> Active cases</p>
          </div>
       </div>
     </div>
   </div>


   <div class="col-md-4 col-3">
    <div class="card card-recovered">
      <div class="card-body">
        <div class="card-title text-center">Recovered
          <p class="card-text" [countUp]='data.recovered'>{{data.recovered | number}}</p>
          <p style="color: black;">{{date | date}}</p>
          <p style="color: black;" class="card-last-p"> Recovered cases</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-3">
    <div class="card card-deaths">
      <div class="card-body">
        <div class="card-title text-center">Deaths
          <p class="card-text" [countUp]='data.deaths'>{{data.deaths | number}}</p>
          <p style="color: black;">{{date | date}}</p>
          <p style="color: black;" class="card-last-p"> Death cases</p>



        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>
<section  >
  <div class="container">
    <div class="row">
      <div class="col chart-wrapper">
        <canvas *ngIf = "global" baseChart
        [chartType]="lineChartType"
         [datasets]="lineChartData"
          [labels]="lineChartBottomLabels"
          >
      </canvas>

      <canvas #target *ngIf ="!global" baseChart
      [chartType]="barChartType"
       [datasets]="barChartData"
        [labels]="barChartLabels"
        >
    </canvas>


      </div>
    </div>
  </div>
</section>





<app-footer id="AnchorId"></app-footer>







<router-outlet
></router-outlet>
